* {
  box-sizing: border-box;
}


body {    
padding: 0;
background-color: hsla(0, 100%, 90%, 0.3); }

#menu {  

text-align: center;
font-family: 'Fredoka One';
font-weight: bold;
font-size: 40px;  
margin: 70px;  }

section { 
  width: auto;
  margin: 5px;
  margin-bottom: 20px;
  height: auto;
  border: 3px solid black; 
  padding: 0;
  position:relative;

  }

span {  
border: 1px solid black; 
margin: 0px;
padding: 5px;
padding-right: 10px;
padding-left: 10px;
font-family: 'Fredoka One';
font-size: 20px;
position: absolute;
top: 0px;
right: 0px;
background-color: hsl(0, 0%, 95%) }

 p { 
padding: 20px; 
font-weight: bold;
font-family: "Lucida Console", Courier, monospace;
position: relative;
}

#box1 { background-color: hsla(0, 100%, 30%, 0.3);
}


#box2 { background-color: hsla(0, 100%, 50%, 0.3);
}


#box3 { background-color: hsla(0, 100%, 70%, 0.3); 
}

#span1 {background-color:LightGrey;}
#span2 {background-color:LightSeaGreen;}
#span3 {background-color:IndianRed;}



@media (min-width: 992px) {

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
   float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}


@media (max-width: 767px) {
  .col-mn-1, .col-mn-2, .col-mn-3, .col-mn-4, .col-mn-5, .col-mn-6, .col-mn-7, .col-mn-8, .col-mn-9, .col-mn-10, .col-mn-11, .col-mn-12 {
      float: left;
  }
  .col-mn-1 {
    width: 8.33%;
  }
  .col-mn-2 {
    width: 16.66%;
  }
  .col-mn-3 {
    width: 25%;
  }
  .col-mn-4 {
    width: 33.33%;
  }
  .col-mn-5 {
    width: 41.66%;
  }
  .col-mn-6 {
    width: 50%;
  }
  .col-mn-7 {
    width: 58.33%;
  }
  .col-mn-8 {
    width: 66.66%;
  }
  .col-mn-9 {
    width: 74.99%;
  }
  .col-mn-10 {
    width: 83.33%;
  }
  .col-mn-11 {
    width: 91.66%;
  }
  .col-mn-12 {
    width: 100%;
  }
}

